   .beatles {
        background: #80ffd4;
    }

    .stones {
         background: #e64d00;
     }

    .who {
        background: #ffff99;
    }

    .band {
        width:300px;
        height: 200px;
    }